
@{
    ViewBag.Title = "SurveyDone";
}

@using (Html.BeginForm("SignOut", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <hr />
    <br />
    <h2>Your response is already submitted!!!</h2>
    <br />
    <br />
    <div class="pull-left">
        <div class="pull-left">
            <input type="submit" value="Sign Out" class="btn btn-primary" />
        </div>
    </div>
    <br />
    <br /><br /><br />
    <br />
    <br />
}
